//
// Global selectors for Wroter Front-End
//

// Admin Bar - Icon (Front-End)
#wpadminbar #wp-admin-bar-wroter_edit_page > .ab-item::before {
	content: "\e800";
	font-family: eicon;
	font-size: 12px;
	margin-top: 5px;
}

.wroter {

	* {
		&, &:before, &:after {
			box-sizing: border-box;
		}
	}

	// Reset Style for some themes and browsers
	hyphens: manual;

	a {
		box-shadow: none;
		text-decoration: none;
	}
	hr {
		margin: 0;
		background-color: transparent;
	}
	img {
		height: auto;
		max-width: 100%;
		border: none;
		border-radius: 0;
		box-shadow: none;
	}
	figure {
		margin: 0;
	}

	// Responsive Embed
	embed,
	iframe,
	object,
	video {
		max-width: 100%;
		width: 100%;
		margin: 0;
		line-height: 1;
	}

	.wroter-custom-embed {
		line-height: 0; //for google maps margin bottom
	}

	// Background Video
	.wroter-background-video-container {
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		position: absolute;
		overflow: hidden;
		z-index: $ground-layer;
	}

	.wroter-background-video {
		position: absolute;
		max-width: none;
		top: 50%;
		left: 50%;
		transform: translateY(-50%) translateX(-50%);
	}

	.wroter-html5-video {
		object-fit: cover; // For HTML5 portrait video
	}
	// End Background Video

	.wroter-background-overlay {
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		position: absolute;
	}

	.wroter-invisible {
		visibility: hidden;
	}
}

// Alignment Classes
.wroter-align- {

	&center {
		text-align: center;

		.wroter-button {
			width: auto;
		}
	}

	&right {
		text-align: right;

		.wroter-button {
			width: auto;
		}
	}

	&left {
		text-align: left;

		.wroter-button {
			width: auto;
		}
	}

	&justify {

		.wroter-button {
			width: 100%;
		}
	}
}

// Alignment for Tablet
@media (max-width: $screen-md-max) {

	.wroter-tablet-align- {

		&center {
			text-align: center;

			.wroter-button {
				width: auto;
			}
		}

		&right {
			text-align: right;

			.wroter-button {
				width: auto;
			}
		}

		&left {
			text-align: left;

			.wroter-button {
				width: auto;
			}
		}

		&justify {

			.wroter-button {
				width: 100%;
			}
		}
	}
}

// Alignment for Mobile
@media (max-width: $screen-sm-max) {

	.wroter-mobile-align- {

		&center {
			text-align: center;

			.wroter-button {
				width: auto;
			}
		}

		&right {
			text-align: right;

			.wroter-button {
				width: auto;
			}
		}

		&left {
			text-align: left;

			.wroter-button {
				width: auto;
			}
		}

		&justify {

			.wroter-button {
				width: 100%;
			}
		}
	}
}

// TEMP CODE
#wroter-select-preset {
	 display: none;
}
