//
// Accordion
//

.wroter-accordion {
	text-align: $start;

	.wroter-accordion-item {
		border: 1px solid $gray-light;

		+ .wroter-accordion-item {
			border-top: none;
		}
	}

	.wroter-accordion-title {
		padding: 15px 20px;
		font-weight: bold;
		line-height: 1;
		cursor: pointer;

		.wroter-accordion-icon {
			display: inline-block;
			width: 1.5em;

			&.wroter-accordion-icon- {

				&right {
					float: right;
					text-align: right;
				}

				&left {
					float: left;
					text-align: left;
				}
			}

			.fa {

				&:before {
					content: '\f067';
				}
			}
		}

		&.active {

			.wroter-accordion-icon {

				.fa {

					&:before {
						content: '\f068';
					}
				}
			}
		}
	}

	.wroter-accordion-content {
	    display: none;
		padding: 15px 20px;
		border-top: 1px solid $gray-light;
	}
}

// Responsive mode
@media (max-width: $screen-sm-max) {

	.wroter-accordion {

		.wroter-accordion-title {
			padding: 12px 15px;

			.wroter-accordion-icon {
				width: 1.2em;
			}
		}

		.wroter-accordion-content {
			padding: 7px 15px;
		}
	}
}
