//
// Icon
//

// For the all elements with icon options

.wroter-icon {
	display: inline-block;
	line-height: 1;
	transition: $transition-hover;
	color: $gray;

	&:hover {
		color: $gray;
	}

	i {
		font-size: 50px;
		width: 1em;
		height: 1em;
	}
}

.wroter-view-stacked {

	.wroter-icon {
		background-color: $gray;
		color: #fff;
	}
}

.wroter-view-framed {

	.wroter-icon {
		color: $gray;
		border: 3px solid $gray;
		background-color: transparent;
	}
}

.wroter-shape- {

	&circle {

		.wroter-icon {
			border-radius: 50%;
		}
	}
}
