//
// testimonial
//
.wroter-testimonial-wrapper {
	overflow: hidden;
	text-align: center;

	.wroter-testimonial-content {
		font-size: 1.3em;
		margin-bottom: 20px;
	}

	.wroter-testimonial-name {
		line-height: 1.5;
	}

	.wroter-testimonial-job {
		font-size: 0.85em;
	}

	&.wroter-testimonial-text-align- {
		&left {
			text-align: left;
		}

		&right {
			text-align: right;
		}
	}

	.wroter-testimonial-meta {
		width: 100%;
		line-height: 1;

		&-inner {
			display: inline-block;
		}

		.wroter-testimonial-details,
		.wroter-testimonial-image {
			display: table-cell;
			vertical-align: middle;
		}

		.wroter-testimonial-image {

			img {
				width: 60px;
				height: 60px;
				border-radius: 50%;
			}
		}

		&.wroter-testimonial-image-position-aside {

			.wroter-testimonial-image {
				@include padding-end(15px);
			}

			.wroter-testimonial-details {
				text-align: $start;
			}
		}

		&.wroter-testimonial-image-position-top {

			.wroter-testimonial-details,
			.wroter-testimonial-image {
				display: block;
			}

			.wroter-testimonial-image {
				margin-bottom: 20px;
			}
		}
	}
}